.logo {
  font-family: Raleway;
  font-weight: $font-weight-bold;
  font-size: $font-size-logo-mobile;
  line-height: $line-height-logo;
  letter-spacing: $letter-spacing-normal;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  @include desktop {
    font-size: $font-size-logo-desktop;
  }

  &__web {
    color: $color-selection;
  }
  &--header {
    color: $color-text-quaternary;
  }
}
