.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  &__title {
    font-weight: $font-weight-bold;
    font-size: $font-size-mobile-tertiary;
    line-height: $line-height-title;
    letter-spacing: $letter-spacing-normal;
    text-align: center;
    padding-bottom: 30px;
    @include desktop {
      font-size: $font-size-section;
      line-height: $line-height-normal;
      padding-bottom: 50px;
    }
  }
  &__filter {
    text-align: center;
    padding-bottom: 50px;
  }
  &__filter-item {
    display: inline-block;
  }
  &--background {
    background-color: $color-background-tertiary;
  }
  &--middle {
    display: none;
    padding-top: 0;

    @include desktop {
      display: block;
    }
  }
}
