.social {
  text-align: center;
  &__item {
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 12px;
    margin-bottom: 30px;
    color: $color-icon-primary;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__item:not(:last-child) {
    margin-right: 6px;
  }
  &__item--footer {
    color: $color-background-secondary;
    background-color: $color-background-quaternary;
  }
  &__item:hover,
  &__item:focus {
    color: $color-background-secondary;
    background-color: $color-selection;
    cursor: pointer;
  }
  &__link {
    color: inherit;
  }
  &__icon {
    fill: currentColor;
  }
}
